body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
/* main div  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
/* nab bar start */
.nav-bar{
    font-weight: 700;
    font-size: 30px;
}
/* nab bar end */
/* first part start */
.first-div{
    display: flex;
}
.detail-div{
    width: 90%;
    margin-right: 20px;
}
.detail-button{
    background-color: crimson;
    border: 1px solid crimson;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-size: 25px;
}
.detail-img{
    width: 40%;
}
.top-banar{
    font-weight: 700;
    font-size: 50px;
}
/* all container & section title start  */
.container{
    background-color: #ffff;
    width: 870px;
    padding: 33px;
    margin-top: 21px;
}
.section-title{
    text-align: center;
    color: crimson;
    font-size: 24px;
    margin-top: 3px;
}
/* all container & section title end  */
/* second section start */
.coureses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    box-shadow: 5px 10px rgba(190, 32, 32, 0.1);
    border-radius: 15px;
    padding: 5px;
    margin: 20px;
    overflow: hidden;
}
.course-banar img{
    width: 224px;
    height: 104px;
}
.course-banar img:hover{
    transform: scale(1.2);
    transition: transform 2s;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled{
    color: rgb(248, 205, 15);
}
.fa-star.empty{
    color: gray;
}
.midel-button{
    text-align: right;
}
.midel-button>button{
    background-color: white;
    color: crimson;
    padding: 10px 25px;
    border: 1px solid white;
    margin-bottom: 10px;
    margin-right: 300px;
    font-size: 30px;
}
/* second section start */
/* persolal site start */
.my-img{
    width: 50%;
    height: 300px;
}
/* personal site end  */
/* trnasform & transition start */
.photo-frame{
    display: flex;
    overflow: hidden;
}
.photo img{
    width: 50%;
}
.photo img:hover{
    transform: scale(1.5) rotate(360deg);
    transition: transform 5s ;
}
.my-detail{
    width: 80%;
}
/* trnasform & transition start */
/* footer section  */
.footer-section{
    background-color: rgb(10, 10, 37);
    height: 200px;
    text-align: center;
    color: white;
    padding: 10px;
}
.font-awesome>i{
    padding: 5px 8px;
}

/* responsiv section  */
/* Mobile devices  */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    }
    .first-div, .coureses{
        grid-template-columns: repeat(1, 1fr);
    }

    .first-div, .course{
        flex-direction: column;
    }
}
/* media for ipad users  */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .first-div{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .coureses{
        grid-template-columns: repeat(2, 1fr);
    }
    
}